body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
  
.topnav {
    overflow: hidden;
    background-color: rgb(217, 244, 223);
 }

 .topnav a {
    float: left;
    color: green;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

}
  




 .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: green;
    padding: 20px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;   
    font-weight: bold;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: green;
    color: white;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 244, 223);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: green;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 17px;

  }
  
  .dropdown-content a:hover {
    background-color: green ;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



.studysaviour{
    background-image: url('studysaviour.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    padding: 260px 50px;
    border-bottom: 3px solid black;
}

.about{
    background-image: url('mainbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 200px 50px;
    border-bottom: 3px solid black;

}

.about h1 {
    text-align: center;
    font-size: 45px;
}
.about h3 {
    text-align: center;
    font-size: 25px;

}

.biology {
    background-image: url('biology.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 40px 50px;
    border-bottom: 3px solid black;
}

.biology h1{
    color: white;
}

.biology h3{
    color: white;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
  
.button1:hover{
    background-color: #3e8e41;
}


.physics{
    background-image: url('physics.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 40px 50px;
    border-bottom: 3px solid black;
}

.physics h1{
    color: white;
}

.physics h3{
    color: white;
}



.chemistry{
    background-image: url('chemistry.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 40px 50px;
    border-bottom: 3px solid black;
}

.chemistry h1{
    color: white;
}

.chemistry h3{
    color: white;
}

.mathematics{
    background-image: url('math.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 40px 50px;
    border-bottom: 3px solid black;
}

.mathematics h1{
    color: white;
}

.mathematics h3{
    color: white;
}

.logo{
    background-color: white;
    width: 100%;
    position: absolute;
    padding: 10px;
}
img{
    float: left;
}
.box{
    padding: 100px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    background-color: lightgreen; /* Green */
    margin: 80px;
}

.bio{
    background-color: lightgoldenrodyellow;
}
.bio h1{
    background-color: rgb(230, 177, 45);
    font-size: 70px;
    text-align: center;
    color: white;
    font-size: bold;
    margin: auto;
    height: 50%;
    padding: 20px;
}
.bio h3{
    margin-left: 40px;
    background-color: rgb(239, 239, 141);
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25%;
}
.bio p{
    font-size: 19px;
    padding-left: 50px;
    font-weight: bold;
}

.bio a{
    color: black ;
    text-decoration: none;
}
.bio p :hover{
    color: blue;
}

.column {
    float: left;
    width: 50%;
}

.column img{
    margin: 10px 80px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width:1100px) {
    .column {
      width: 100%;
    }
}


.buybutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 150px;
    cursor: pointer;
    border-radius: 75px;
    font-size: 15px;
}
  
.buybutton:hover{
    background-color: #3e8e41;
}

.phy{
    background-color: lightcyan;
}
.phy h1{
    background-color: rgb(77, 178, 218);
    font-size: 70px;
    text-align: center;
    color: white;
    font-size: bold;
    margin: auto;
    height: 50%;
    padding: 20px;
}
.phy h3{
    margin-left: 40px;
    background-color: rgb(158, 225, 247);
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25%;
}
.phy p{
    font-size: 19px;
    padding-left: 50px;
    font-weight: bold;
}

.phy a{
    color: black ;
    text-decoration: none;
}
.phy p :hover{
    color: blue;
}






.math{
    background-color: rgb(240, 206, 212);
}
.math h1{
    background-color: rgb(244, 152, 166);
    font-size: 70px;
    text-align: center;
    color: white;
    font-size: bold;
    margin: auto;
    height: 50%;
    padding: 20px;
}
.math h3{
    margin-left: 40px;
    background-color: rgb(249, 182, 193);
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25%;
}
.math p{
    font-size: 19px;
    padding-left: 50px;
    font-weight: bold;
}

.math a{
    color: black ;
    text-decoration: none;
}
.math p :hover{
    color: blue;
}





.che{
    background-color: rgb(235, 183, 235);
}
.che h1{
    background-color: purple;
    font-size: 70px;
    text-align: center;
    color: white;
    font-size: bold;
    margin: auto;
    height: 50%;
    padding: 20px;
}
.che h3{
    margin-left: 40px;
    background-color: rgb(225, 132, 225);
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25%;
}
.che p{
    font-size: 19px;
    padding-left: 50px;
    font-weight: bold;
}

.che a{
    color: black ;
    text-decoration: none;
}
.che p :hover{
    color: blue;
}
